 <small style="color: #808080 !important; font-size: xx-small;" class="copyright__content"> DEVELOPED BY <a href="https://codewcg.com/" style="color: #808080 !important;" > CODEWCG </a> </small>

 <style>
   .copyright__content {
     position: relative;
     z-index: 9;
     padding-bottom: 20px;
     margin-top: -10vh;
  display: block;
  text-align: center; /* Horizontally center */
  color: #808080 !important;
  font-size: xx-small;
  margin: -48px auto; /* Centering the block element */
}

   @media (max-width: 950px) {
  .copyright__content {
    margin: -20px auto; /* Centering the block element */
  }
}

   
.copyright__content a {
  color: #808080 !important;
}


 </style>